*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
img{
   vertical-align: middle;
}
.container{
    width: 1170px;
    margin: auto 0;
}


.main-banner{
    display:flex;
}